.main {
  display: flex;
  background-color: var(--cor-blue-100);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  height: 1px;
  background-color: #d0d0d0;
}

.info {
  font-size: 1rem;
  padding: 4px 8px 4px 8px;
  text-align: center;
  width: 200px;
  border-radius: 10px 10px 10px 0;
  border-style: solid;
  border-width: 2px;
  border-color: var(--cor-blue-400);
  color: var(--cor-blue-400);
}

.text {
  color: var(--cor-blue-900);
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.text2 {
  font-size: 5rem;
  background: -webkit-linear-gradient(
    45deg,
    var(--cor-blue-400),
    var(--cor-blue-500)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  margin: 0;
  position: relative;
}

.text2::after {
  content: "";
  display: block;
  object-fit: fill;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: -20px;
  background: url("../../../public/asset-header.png") no-repeat center; /* Caminho da imagem relativo à pasta public */
}

.text3 {
  color: var(--cor-blue-900);
  font: 1rem;
}

@media (max-width: 700px) {
  .info {
    font-size: 0.8rem;
    padding: 2px;
    width: 150px;
  }

  .text {
    font-size: 1.5rem;
  }
  .text2 {
    font-size: 3rem;
  }

  .text2::after {
    width: 30px;
    height: 30px;
    background-size: contain;
    top: 0px;
    right: -10px;
  }
  .text3 {
    font-size: 0.8rem;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .divider {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .text2 {
    font-size: 2.5rem;
  }
}
