.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.main p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--cor-gray-400);
}

.main img {
  width: 250px;
  height: auto;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.menu h3 {
  margin-bottom: 40px;
  font-weight: bold;
  font-weight: 500;
}

.subMenu li {
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--cor-gray-400);
}

.logo {
  border-radius: 100%;
  background-color: var(--cor-gray-100);
  padding: 15px;
  color: var(--cor-gray-400);
  margin-right: 10px;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: var(--cor-gray-100);
}

.subMenu p {
  font-size: 1rem;
  font-weight: 500;
}
.subMenu a {
  color: var(--cor-gray-400);
}

.copy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.copy h3 {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--cor-gray-400);
}

.leadsterBlue {
  color: var(--cor-blue-500);
}

@media (max-width: 1150px) {
  .menu {
    gap: 20px;
  }
}

@media (max-width: 860px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .subMenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu h3 {
    margin-bottom: 10px;
  }

  .copy {
    flex-direction: column;
    text-align: center;
  }
}
